<h1><%= @recipe.name %></h1>
Ingredients: <%= @recipe.ingredients %>
Cooking Time: <%= @recipe.cook_time %>

<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>